<!DOCTYPE html>
<html>
<head>
    <title>ECOALF - Impresora de etiquetas</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="containter">
            <h1>IMPRESIÓN DE ETIQUETAS CON REBAJA</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button hidden type="submit">Imprimir</button> <!-- Ver si podemos quitar el botón directamente y que imprima --> 
            </form>
        </div>
    </div>    
</body>
</html>